<div class="w3-container">
  <div class="w3-center">
    <h1 style="font-family: Lato, cursive">TTT-Visitors</h1>
  </div>
  <div class="w3-responsive">
    <h2 style="font-family: Lato, cursive"> Total Visitors : {{count}}</h2>
    <table class="w3-table-all w3-hoverable">
      <tr class="w3-orange">

        <th>Date</th>
        <th>Ip</th>
        <th>City</th>
        <th>Region</th>
        <th>Country</th>
        <th>Loc</th>
        <th>Org</th>
        <th>Postal</th>
        <th>TimeZone</th>
        <th>Hostname</th>

      </tr>
      <tr *ngFor='let visitor of visitors' class="w3-hover-green w3-padding">
        <td>{{visitor.date}}</td>
        <td>{{visitor.ip}}</td>
        <td>{{visitor.city}}</td>
        <td>{{visitor.region}}</td>
        <td>{{visitor.country}}</td>
        <td>{{visitor.loc}}</td>
        <td>{{visitor.org}}</td>
        <td>{{visitor.postal}}</td>
        <td>{{visitor.timezone}}</td>
        <td>{{visitor.hostname}}</td>
      </tr>

    </table>
  </div>
</div>